@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilo para ocultar las flechas de incremento y decremento en inputs tipo "number" */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Estilo adicional para Firefox (si es necesario) */
input[type="number"] {
  -moz-appearance: textfield;
}

* {
  font-family: 'Quicksand', sans-serif;
}







